
*{
    margin: 0px;
    padding:1px;
    font-family: sans-serif;
}
nav{
width: 99%;
height: 60px;
background-color: rgb(218, 204, 231);
color: #ffffff;
position: fixed;
}
nav ul{
    list-style: none;
    text-align: right;
    }
nav ul li{
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 180 px;
    }
nav ul li a{
    text-decoration: none;
    color: #030202;
    padding: 15pt
    }
    nav h1{
        height: 60px;
        line-height: 60px;
        margin-left: 30px;
        float: left;
        color: #0c0b0b;
        font-family: 'Euphoria Script';font-size: 32px;
        }

        nav img {
            float: left;
            width: 55px;
            height: 55px;
            float: left;
            background: #f7e5e5;
          }
.Home{
width: 100%;
height: 500px;
background-image: url('images/telecom.jpg');
background-size: 100% auto;
padding: 80px;
font-family: 'Gloria Hallelujah';font-size: 22px;
background-position: 0px 60px;
}
.Home h2{
    font-family: 'Gloria Hallelujah';font-size: 22px;
    
    }
.About{
    width: 100%;
    height: 550%;
    padding-top: 60px;
}
.About p{
    font-family: "Times New Roman", Times, serif;
  }
.About h2{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20pt;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
}
.About div{
    width: 100%;
    margin: auto;
    text-align: justify;
    line-height: 1.8;
    box-shadow: 0px 0px 10px #222;
    padding: 30px;
}
.About div img{
    width: 350px;
    border: 15px    solid #ffff;
    float: left;
    margin-right: 20px;
}

.Services{
    width: 100%;
    height: 550%;
    padding-top: 60px;
}
.Services p{
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  }
.Services h2{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20pt;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    text-transform: uppercase;
}
.Services div{
    width: 100%;
    margin: auto;
    text-align: justify;
    line-height: 1.8;
    box-shadow: 0px 0px 10px #222;
    padding: 30px;
}
.Services div img{
    width: 550px;
    border: 15px    solid #ffff;
    float: left;
    margin-right: 20px;
}
.Contact h2{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20pt;
    text-transform: uppercase;
}
.Contact ul li{
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 180 px;
    }
    .Contact img {
        float: left;
        width: 45px;
        height: 45px;
        padding: 5px;
      }
.address{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    padding: 25px 50px;
    text-align: center;
    font-size: 10pt;
  }
